<% content_for :title, @task.title  %>
<%= render @task %>

<div class="d-flex flex-row justify-content-center gap-2">
    <%= button_to "Back to tasks", tasks_path, class: "btn btn-primary", method: :get %>
    <%= button_to "Edit this task", edit_task_path(@task), method: :get, class: "btn btn-warning"%>

    <%= button_to "Destroy this task", @task, method: :delete, class: "btn btn-danger"%>
</div>